:root {
	--main-bg-color: #0e0831;
	--header-color: #FF4949;
	--accent-color: #62F2F7;
	--text-color: #F1F2EE;
}

body {
	background-color: var(--main-bg-color);
	color: var(--text-color);
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: var(--header-color);
	font-size: 8em;
}

#appLink, #submitButton {
	background-color: var(--header-color);
	color: var(--text-color);
	font-size: 3em;
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	border: 0px;
	transition-duration: 0.2s;
	box-shadow: var(--accent-color);
}

#appLink:hover, #submitButton:hover {
	transition-duration: 0.2s;
	background-color: var(--accent-color);
	color: var(--main-bg-color);
	border-radius: 30px;
	cursor: pointer;
}

#appLink:active, #submitButton:active {
	background-color: var(--text-color);
	transition-duration: 0.1s;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

li a {
	margin-left: 1%;
	margin-right: 1%;
	font-size: 2em;
	transition-duration: 0.2s;
	color: var(--accent-color);
	text-decoration: none;
}

li a:hover {
	transition-duration: 0.2s;
	color: var(--header-color);
	margin-left: 0.5%;
	margin-right: 0.5%;
}

#monitor {
	font-size: 16em;
	padding-left: 3%;
	padding-right: 3%;
}

#phone {
	font-size: 4em;
}

#phone:hover {
	transform: rotate(15deg);
}

#tablet {
	padding-left: 3%;
	padding-right: 3%;
}

#tablet:hover {
	transform: rotate(15deg);
}

#laptop {
	font-size: 12em;
}

#laptop:hover {
	transform: rotate(15deg);
}


.hoverGraphic {
	font-size: 8em;
	color: var(--header-color);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.hoverGraphic:hover {
	transition-duration: 0.2s;
	transform: rotate(-15deg);
	transition-timing-function: ease-in-out;
	color: var(--accent-color);
}

.icons {
	display: inline;
}

p {
	margin-left: 40%;
	margin-right: 40%;
}

h2 {
	margin-top: 30px;
}

input[type=text], select, textarea {
	width: 30%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
	font-family: 'Roboto', sans-serif;
  }

label {
	font-size: 1.5em;
}

textarea {
	vertical-align: top;
}

#submitText {
	display: none;
	transition-duration: 0.2s;
}

#buttonDiv {

}

#buttonDiv:hover #submitText {
	transition-duration: 0.2s;
}